/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/04/2020, 10:49:31 PM
    Author     : alexm
*/

root { 
    display: block;
}

#mylabel {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-family: "avenir";
    -fx-font-weight: bold;
    -fx-background-color: #000000;
    
}


#welcome-text {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
#actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}

.button {
    -fx-font-size: 13px;
    -fx-text-fill: white;
    -fx-font-family: "avenir";
    -fx-font-weight: bold;
    -fx-background-color: #242020;
   
}

.button:hover{
    -fx-font-size: 13px;
    -fx-text-fill: white;
    -fx-font-family: "avenir";
    -fx-font-weight: bold;
    -fx-background-color: #10adbb
}

.button:pressed{
    -fx-font-size: 13px;
    -fx-text-fill: white;
    -fx-font-family: "avenir";
    -fx-font-weight: bold;
    -fx-background-color: #10adbb
}

#statusTitleBack {
    -fx-background-color: #10adbb
    
}

#statusMiddleBack {
    -fx-background-color: #3c3939
    
}



#statusMenuTitle {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-font-family: "avenir";
    -fx-fill: white;
}

#detectedMediaText {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: "avenir";
    -fx-fill: white;
}

#smallButton {
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-font-family: "avenir";
    -fx-font-weight: bold;
    -fx-background-color: #242020;
    
}

#smallButton:hover{
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-font-family: "avenir";
    -fx-font-weight: bold;
    -fx-background-color: #10adbb
}

.smallButton:pressed{
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-font-family: "avenir";
    -fx-font-weight: bold;
    -fx-background-color: #10adbb
}

#smallPane > .split-pane-divider {  
    -fx-padding: 0 1 0 1;  
} 

#bottomButton {
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-font-family: "avenir";
    -fx-font-weight: bold;
    -fx-background-color: #000000;
    
}

#bottomButton:hover{
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-font-family: "avenir";
    -fx-font-weight: bold;
    -fx-background-color: #10adbb
}

bottomButton:pressed{
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-font-family: "avenir";
    -fx-font-weight: bold;
    -fx-background-color: #10adbb
}

#bottomPane{
    -fx-background-color: #535353
}

#smallPane > .split-pane-divider {
    
    -fx-padding: 0 1 0 1;  
    
} 

.split-pane
{
    -fx-padding: 0;
}

.table-view{
   -fx-background-color: #616160;

}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#242020 0%, #000000 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;

}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: white;
}
.table-view .table-cell{
    -fx-text-fill: white;

}

.table-row-cell{
    -fx-table-cell-border-color: transparent;
    -fx-background-color: -fx-table-cell-border-color, #616160;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;

}



